div {
  color: white;
}
  
p {
  color: black;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

ol,
ul {
  color: black;
}

a {
  color: black;
}

img {
  border-radius: 10px;
}

.content {
  color: crimson;
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
  background-color: pink;
  border-radius: 10px;
  padding: 20px;
}

.list_container {
  max-width: 350px;
  margin: 0px auto;
}

li {
  text-align: left;
}